body {
    background-color: red;
	 padding-top: 100px;
}
.active{	text-align:center;
		font-family: "Times New Roman", Times, serif;
		text-transform: uppercase;
		color : Blue;
		font-size : 800 px;
		font-weight:bold;
		line-height: 200%;
}
.nav navbar-nav navbar-right{	text-align:center;
				font-family: "Times New Roman", Times, serif;
				text-transform: uppercase;
				color : Blue;
				font-size : 800 px;
				font-weight:bold;
				line-height: 200%;
}
.dropdown{	text-align:center;
		font-family: "Times New Roman", Times, serif;
		text-transform: uppercase;
		color : Blue;
		font-size : 800 px;
		font-weight:bold;
		line-height: 200%;
}
.modal-body{ 	text-align:center;
		font-family: "Times New Roman", Times, serif;
		text-transform: uppercase;
		color : Blue;
		font-size : 800 px;
		font-weight:bold;
		line-height: 200%;
		
}
.modal-title{ 	font-family: "Times New Roman", Times, serif;
		text-transform: uppercase;
		text-align:center;
		font-weight:bold;
		

}
.modal-footer{ 
		font-family: "Times New Roman", Times, serif;
		text-transform: uppercase;
		font-weight:bold;
}
.contrast {-webkit-filter: contrast(160%); filter: contrast(160%);}
.saturate {-webkit-filter: saturate(3); filter: saturate(3);}
.imag{

	opacity: 0.8;
	width:250px;
	height:250px;
	position:relative;	
}
.imag:hover{
	opacity:0.2;
}
.headoverimg{
	
	position:absolute; 
	top:100px; 
	width=100%; 
	left:75px;
}
